body{
	font-size:15px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}
p{font-family: 'Open Sans', sans-serif; font-size: 1rem;;}

.carousel{
  height: 500px;;
}
.carousel-item {
  height: 100%;
}
.list-style-none{
  list-style: none;
}
.fs-7{
  font-size: 0.9rem;
} 
.fs-8{
  font-size: 0.8rem;
} 
.object-fit-cover{
  object-fit: cover;
}

ul.horizontal-list {
  list-style: none;
}

ul.horizontal-list li {
  display: inline-block;
  padding: 0 0.5rem;

}


ul.horizontal-list li a {
  text-decoration: none;
  color: #cecece;
}